* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #454545;
  padding: 1.5rem;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  list-style-position: inside;
  margin-bottom: 0.8rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
}

li,
p {
  line-height: 1.35rem;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.question {
  background-color: #fefefe;
  border-radius: 0.25rem;
  box-shadow: 0 0 2rem #aaa inset;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: space-between;
  max-height: 35rem;
  max-width: 26rem;
  overflow-y: auto;
  padding: 1.5rem;
  width: 100%;
}

.question::-webkit-scrollbar {
  width: 0.8rem;
}

.question::-webkit-scrollbar-thumb {
  background-color: #454545;
  border: 1px solid #202020;
  border-radius: 0.25rem;
}

.question::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

.question__content {
  font-style: italic;
}

.question__content pre {
  white-space: pre-wrap;
}

.question__input-container {
  margin-bottom: 0.8rem;
}

.question__input-container input,
.question__input-container button {
  border: 1px solid #454545;
  border-radius: 0.3rem;
  padding: 0.6rem;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.question__input-container input {
  display: block;
  margin-bottom: 0.3rem;
}

.question__input-container input:focus {
  box-shadow: 0 0 0.5rem #ccc inset;
  outline: none;
  padding-block: 0.8rem;
}

.question__input-container button {
  background-color: #454545;
  color: #fff;
  cursor: pointer;
}

.question__input-container button:hover {
  background-color: #333;
}

.question__input-container button:active {
  background-color: #222;
}

.question__answer {
  font-weight: bold;
  text-align: justify;
}

.question__answer.--highlight-off {
  font-weight: normal;
}

@media (max-width: 1327px) {
  .questions {
    justify-content: center;
  }
}
